.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/frontendv3/node_modules

.env
.DS_Store
*.log

app/*.log
# folders
.venv
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/